manifest: 1.2.0

defaultLogLevel: WARN

cluster:
  id: {{ cluster }}
  size: small
namespace: {{ namespace }}

filterGroups:
  - id: topics
    updateStrategy: replace
    topics:
      - fromFile: src/abis/EntryPoint.json
  - id: addresses
    updateStrategy: replace
    addresses:
      - fromFile: ./contracts.csv

indexers:
  {{#indexers}}
  - chainId: {{chainId}}
    enabled: {{enabled}}
    ingestionFilterGroup: topics
    processingFilterGroup: addresses
    sources:
    {{#sources}}
      - endpoint: {{{.}}}
    {{/sources}}
  {{/indexers}}

processors:
  - id: erc4337-events
    type: event
    abi: src/abis/EntryPoint.json
    handler: src/processors/erc4337-events/handler.ts
