manifest: 1.2.0

defaultLogLevel: DEBUG

cluster:
  id: {{ cluster }}
  size: small
namespace: {{ namespace }}

filterGroups:
  - id: topics
    updateStrategy: replace
    description: |
      This static filter group is used for all indexers to capture all relevant events.
    topics:
      - fromFile: ./src/processors/resolver-events/abi.json
      - fromFile: ./src/processors/eth-registrar-events/abi.json

indexers:
  {{#indexers}}
  - chainId: {{chainId}}
    enabled: {{enabled}}
    ingestionFilterGroup: {{ingestionFilterGroup}}
    processingFilterGroup: {{processingFilterGroup}}
    sources:
    {{#sources}}
      - endpoint: {{{.}}}
    {{/sources}}
  {{/indexers}}

processors:
  - id: resolver-events
    abi: src/processors/resolver-events/abi.json
    handler: src/processors/resolver-events/handler.ts

  - id: eth-registrar-events
    abi: src/processors/eth-registrar-events/abi.json
    handler: src/processors/eth-registrar-events/handler.ts