manifest: 1.2.0

defaultLogLevel: INFO

cluster:
  id: {{ cluster }}
  size: small
namespace: {{ namespace }}

filterGroups:
  - id: default
    updateStrategy: preserve
    description: This default filter group is used for all indexers to capture
      contract addresses you care about. It can read from a csv, or hard-coded, or updated via API.
    addresses:
      - fromFile: ./contracts.csv
      - chainId: 1
        address: '0x6982508145454ce325ddbe47a25d4ec3d2311933'

indexers:
  {{#indexers}}
  - chainId: {{chainId}}
    enabled: {{enabled}}
    ingestionFilterGroup: default
    processingFilterGroup: default
    logsListenerEnabled: false
    blocksListenerEnabled: true
    emitEvents: false
    emitBlocks: false
    emitTransactions: true
    emitTraces: true
    resolveRevertReason: true
    sources:
    {{#sources}}
      - endpoint: {{{.}}}
    {{/sources}}
  {{/indexers}}

processors:
  - id: my-protocol-txs
    type: transaction
    handler: src/processors/my-protocol-txs/handler.ts
