manifest: 1.2.0

defaultLogLevel: INFO

cluster:
  id: {{ cluster }}
  size: small
namespace: {{ namespace }}

filterGroups:
  - id: default
    updateStrategy: preserve
    description: |
      This group contains all factories and vaults addresses that are being tracked.
      Factories will be imported from CSV, then newly deployed pools will be added
      using custom processor below (factory-tracker).
    addresses:
      - fromFile: ./factories.csv

indexers:
  {{#indexers}}
  - chainId: {{chainId}}
    enabled: {{enabled}}
    ingestionFilterGroup: {{ingestionFilterGroup}}
    processingFilterGroup: {{processingFilterGroup}}
    sources:
    {{#sources}}
      - endpoint: {{{.}}}
    {{/sources}}
  {{/indexers}}

processors:
  - id: factory-tracker
    handler: src/processors/factory-tracker/handler.ts
    abi: src/processors/factory-tracker/abi.json

  - id: erc4626-events
    handler: src/processors/erc4626-events/handler.ts
    abi: src/processors/erc4626-events/abi.json

workers:
  - schedule: rate(15 minutes)
    input_sql: src/processors/position-health/input.sql
    enricher: calculate-position-health

enrichers:
  - id: calculate-position-health
    handler: src/processors/position-health/handler.ts
