manifest: 1.2.0

defaultLogLevel: DEBUG

cluster:
  id: {{ cluster }}
  size: small
namespace: {{ namespace }}

filterGroups:
  - id: topics
    updateStrategy: replace
    description: |
      This static filter group is used for all indexers to capture all relevant events.
    topics:
      - fromFile: ./src/processors/factory-tracker/abi.json
      - fromFile: ./src/processors/pools-swaps/abi.json

  - id: addresses
    updateStrategy: preserve
    description: |
      This group will be automatically populated by the factory-tracker as soon as a new pool is created.
      It is also manually populated from the factories.csv for known factories.
      This group is used to filter-out irrelevant contracts (other Uniswap-like protocols) which also emit the "topics" above but we don't want to process them.
      If you want swap of "all" Uniswap-like protocols, you can remove this filter group and use "topics" filter group everywhere. 
    addresses:
      - fromFile: ./factories.csv

indexers:
  {{#indexers}}
  - chainId: {{chainId}}
    enabled: {{enabled}}
    ingestionFilterGroup: {{ingestionFilterGroup}}
    processingFilterGroup: {{processingFilterGroup}}
    sources:
    {{#sources}}
      - endpoint: {{{.}}}
    {{/sources}}
    ingestionFilterGroup: topics
    processingFilterGroup: addresses
  {{/indexers}}

processors:
  - id: factory-tracker
    abi: src/processors/factory-tracker/abi.json
    handler: src/processors/factory-tracker/handler.ts

  - id: pools-swaps
    abi: src/processors/pools-swaps/abi.json
    handler: src/processors/pools-swaps/handler.ts

enrichers:
  - id: pools-aggregations
    handler: src/processors/pools-aggregations/handler.ts

workers:
  - schedule: rate(60 minutes)
    inputSql: src/processors/pools-aggregations/input.sql
    enricher: pools-aggregations