manifest: 1.2.0

defaultLogLevel: INFO

cluster:
  id: {{ cluster }}
  size: small
namespace: {{ namespace }}

filterGroups:
  - id: default
    updateStrategy: preserve
    description: This default filter group is used for all indexers to capture
      contract addresses you care about.
    addresses:
      - fromFile: ./contracts.csv

indexers:
  {{#indexers}}
  - chainId: {{chainId}}
    enabled: {{enabled}}
    ingestionFilterGroup: {{ingestionFilterGroup}}
    processingFilterGroup: {{processingFilterGroup}}
    logsListenerEnabled: {{logsListenerEnabled}}
    blocksListenerEnabled: {{blocksListenerEnabled}}
    emitEvents: {{emitEvents}}
    emitBlocks: {{emitBlocks}}
    emitTransactions: {{emitTransactions}}
    emitTraces: {{emitTraces}}
    resolveRevertReason: {{resolveRevertReason}}
    sources:
    {{#sources}}
      - endpoint: {{{.}}}
    {{/sources}}
  {{/indexers}}

processors:
  - id: aave-positions
    type: block
    handler: src/processors/aave-positions/handler.ts

enrichers:
  - id: aave-positions
    engine: flink
    inputSql: ./src/aggregation/aave-positions/batch.sql

  - id: aave-notifications
    engine: rockset
    inputSql: ./src/aggregation/aave-notifications/input.sql
    handler: ./src/aggregation/aave-notifications/handler.ts

workers:
  - schedule: rate(60 minutes)
    enabled: false
    enricher: aave-positions

  - schedule: rate(60 minutes)
    enabled: false
    enricher: aave-notifications