manifest: 1.2.0

defaultLogLevel: INFO

cluster:
  id: {{ cluster }}
  size: small
namespace: {{ namespace }}

filterGroups:
  - id: addresses
    updateStrategy: replace
    description: |
      This static filter group is used for all indexers to capture all relevant events.
    addresses:
      - fromFile: ./contracts.csv

indexers:
  {{#indexers}}
  - chainId: {{chainId}}
    enabled: {{enabled}}
    ingestionFilterGroup: {{ingestionFilterGroup}}
    processingFilterGroup: {{processingFilterGroup}}
    sources:
    {{#sources}}
      - endpoint: {{{.}}}
    {{/sources}}
  {{/indexers}}

processors:
  - id: reverse-registrar-events
    abi: src/processors/reverse-registrar-events/abi.json
    handler: src/processors/reverse-registrar-events/handler.ts